* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Neuton;
}

body, html {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.confirmar {
  text-align: left;
}

.container {
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: none;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  width: 500px;
}

.login-box h1 {
  color: rgb(0, 0, 0);
  font-family: Neuton;
  font-size:40px;
  margin: 10px;
}

.parrafo {
  font-size: 25px;
  margin: 15px;
}

.login-box input {
  background-color: #00000000;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
}

.buscar {
    background-color: rgb(118, 255, 111);
         padding: 7px 50px;
          border: 1px solid #000000;
          border-radius: 20px;
          margin:1px;
          text-decoration: none;
}

.volver {
    background-color: rgb(202, 202, 202);
     padding: 7px 50px;
     border: 1px solid #000000;
    border-radius: 20px;
    margin:1px;
    text-decoration: none;
}

.botones{
  
}