* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Neuton;
}

body, html {
  height: 100%;
  background-color: black;
}

.container {
  background-image: url('IMAGENES/IMAGEN2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: none;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.login-box h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-family: Neuton;
  font-size:50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

.login-box input {
  background-color: #c0c0c0f1;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
}

.login-box a {
  display: block;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  padding: 3%;
  font-size: 17px;
}

.olvide {
  text-align: left;
    font-size: 0.9em;
}

.ingresar {
  background-color: #04AC23;
  color: white;
  padding: 10px 125px;
  border: 1px;
  border-radius: 20px;
  font-weight: bold;
  font-family: NovaSquare;
  font-size: 1.3em;
}